@charset "utf-8";
*{box-sizing: border-box;}

body{ background-image: url("assets/images/leavesfall.jpg");
		
	}


#container{
	width: 960px;
	margin: 0 auto;
}

header{
	text-align: center;
	width:100%;
	height: 200px;
	background-color: orange;
}


nav{

	margin: 10px;
	padding: 10px;
	background-color: lightsalmon;
	width:300px;
	height:400px;
	float:left;
	
}

.cute{
	margin: 10px;
	padding: 10px;
	background-color: lightcoral;
		width:570px;
		height:400px;
		float:left;
	
}

article{
	background-color: indianred;
	width:100%;
	height:400px;
	float:left;
	
}

footer{
	text-align: center;
	width: 100%;
	height:400px;
	background-color: orange;
	clear:both;

